.productDetailPageAem {
    color: #23282A;
    --padding-5: 64px;
    --padding-6: 80px;
    --gap-3: 40px;
    --container-min-width: 460px;
    --gap-4: 64px;

    @media (min-width: 936px) and (max-width: 1267px) {
        --padding-5: 112px;
        --padding-6: 144px;
        --container-min-width: 552px;
        --gap-4: 112px;
    }

    @media (min-width: 1268px) {
        --padding-5: 128px;
        --padding-6: 160px;
        --gap-4: 128px;
    }

    @media (min-width: 1268px) and (max-width: 1579px) {
        --container-min-width: 736px;
    }

    @media (min-width: 1580px) {
        --container-min-width: 920px;
    }
}

.headerAndHeroSection {
    border-radius: 0 0 64px 0;
}

.sectionWithRadius {
    @media (min-width: 740px) {
        border-radius: 0 0 64px 0;
    }
}

.headerAndHeroSection,
.sectionWithRadius {
    background-color: #F3F5F3;
}

.prominentSection {
    padding: var(--padding-5) 0 var(--padding-6) 0;
}

.overwrittenMargin>div {
    @media (max-width: 935px) {
        margin-bottom: 40px !important;
    }

    @media (min-width: 740px) {
        max-width: var(--container-min-width);
        margin-inline: auto;
    }
}

.textCentered {
    text-align: center;
}

.tilesContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);

    @media (min-width: 740px) {
        gap: var(--gap-4)
    }
}

.overwrittenGap>div {
    gap: 40px;
}

.overwrittenRowGap>div {
    row-gap: 40px;
}

.textBlockContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    @media (min-width: 740px) and (max-width: 935px) {
        max-width: 460px;
        margin-inline: auto;
    }

    @media (min-width: 936px) {
        gap: 40px;
    }
}

.overwrittenProductStripeGap div:has(> div:nth-of-type(2)):not(:has(> div:nth-of-type(3))) {
    @media (min-width: 936px) and (max-width: 1267px) {
        gap: 24px;
    }

    @media (min-width: 1268px) and (max-width: 1579px) {
        align-items: flex-start;
    }
}

.overwrittenProductStripeGap div:has(>img) {

    @media (max-width: 739px),
    (min-width: 936px) and (max-width: 1267px) {
        gap: 8px;
        justify-content: center;
        align-items: center;
    }
}

.overwrittenProductStripeGap img {
    max-width: 100%;
    max-height: 54px;
    object-fit: contain;

    @media (min-width: 740px) and (max-width: 935px) {
        max-height: 149px;
    }

    @media (min-width: 936px) and (max-width: 1267px) {
        max-height: 99px;
    }

    @media (min-width: 1268px) and (max-width: 1579px) {
        max-height: 113px;
    }

    @media (min-width: 1580px) {
        max-height: 124px;
    }
}

.overwrittenLanguageSelector {
    grid-column: span 6;

    @media (min-width: 936px) {
        grid-column: span 4;
    }
}

.overwrittenFooterSocialLinks div:has(> div:nth-of-type(3)):not(:has(> div:nth-of-type(4)))>div:not(:last-child) {
    @media (min-width: 740px) and (max-width: 935px) {
        grid-column: span 6;
        padding-bottom: 56px;
    }
}