.cdsp {
  --gap-1: 16px;
  --gap-3: 40px;
  --padding-4: 48px;
  --padding-5: 64px;
  --padding-6: 80px;
  --radiusRoundedCorner: 64px;

  color: #23282a;

  @media (width >= 740px) and (width <= 935px) {
    --radiusRoundedCorner: 88px;
  }

  @media (width >= 936px) and (width <= 1267px) {
    --padding-4: 64px;
    --padding-5: 112px;
    --padding-6: 144px;
    --radiusRoundedCorner: 128px;
    --gap-3: 56px;
  }

  @media (width >= 1268px) and (width <= 1569px) {
    --gap-1: 32px;
    --radiusRoundedCorner: 144px;
  }

  @media (width >= 1268px) {
    --padding-4: 80px;
    --padding-5: 128px;
    --padding-6: 160px;
    --gap-2: 56px;
    --gap-3: 64px;
  }

  @media (width >= 1570px) {
    --gap-1: 40px;
    --radiusRoundedCorner: 168px;
  }
}

.topHeadline {
  padding: var(--padding-4) 0;
  text-align: center;
}

.sectionWithPadding {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
  padding-bottom: var(--padding-6);
}

.settingsContainer {
  display: flex;
  gap: var(--gap-1);
  align-items: center;
  align-self: stretch;
  justify-content: center;
}

.settingsContainer > div {
  flex: 1 0 0;
}

.viewContainer {
  display: flex;
  justify-content: center;
}

// disabled attribute doesn't work on InteractiveIcon so it had to be overwritten
.viewContainer > button:last-child {
  cursor: default;
  color: #919394;
}

// disabled attribute doesn't work on InteractiveIcon so it had to be overwritten
.viewContainer > button:last-child:hover::before {
  transform: scale(0);
  opacity: 0;
}

.filter {
  display: flex;
  justify-content: flex-end;
}

.overwrittenGridItemCol > div {
  & > div:nth-child(n + 3):not(:nth-child(9)) {
    @media (width <= 739px) {
      grid-column: span 3 !important;
    }
  }

  & > div:nth-child(2),
  & > div:nth-child(9) {
    grid-row: span 2;

    & > div > div:first-child {
      flex-grow: 1;
    }

    & > div > div:last-child {
      height: fit-content;
    }
  }
}

.centeredButton {
  display: flex;
  justify-content: center;
}

.sectionRadius {
  border-radius: 0 0 var(--radiusRoundedCorner) 0;
  background-color: #f2f2f2;
}

.sectionRadius,
.prominentSection {
  padding: 80px 0 96px;

  @media (width >= 740px) {
    padding: var(--padding-5) 0 var(--padding-6);
  }
}

.overwrittenMargin > div {
  margin-bottom: 40px !important;
}

.textCentered {
  text-align: center;
}

.overriddenProductStripeGap
  div:has(> div:nth-of-type(2)):not(:has(> div:nth-of-type(3))) {
  @media (width >= 936px) and (width <= 1267px) {
    gap: 24px;
  }

  @media (width >= 1268px) and (width <= 1579px) {
    align-items: flex-start;
  }
}

.overriddenProductStripeGap div:has(> img) {
  @media (width <= 739px), (width >= 936px) and (width <= 1267px) {
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}

.overriddenProductStripeGap img {
  max-width: 100%;
  max-height: 54px;
  object-fit: contain;

  @media (width >= 740px) and (width <= 935px) {
    max-height: 149px;
  }

  @media (width >= 936px) and (width <= 1267px) {
    max-height: 99px;
  }

  @media (width >= 1268px) and (width <= 1579px) {
    max-height: 113px;
  }

  @media (width >= 1580px) {
    max-height: 124px;
  }
}

.overriddenLanguageSelector {
  grid-column: span 6;

  @media (width >= 936px) {
    grid-column: span 4;
  }
}
