.container {
  position: relative; /* Ensure positioning for canvas within the container */
  overflow: hidden; /* Hide any overflow from the canvas */
  width: 100%;
  height: 100lvh;
}

.canvas {
  display: block; /* Ensures the canvas is treated as a block-level element */
  width: 100%; /* Canvas should take up the full width of the container */
  height: 100%; /* Let the height be determined by the aspect ratio */
}
