.imageCarousel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery {
  pointer-events: none;

  position: absolute;

  overflow-x: hidden;
  align-items: center;

  width: 100%;
  height: 100%;
}

.imageStrip {
  pointer-events: auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;
}

.image {
  flex-shrink: 0;

  width: 147px;
  height: 147px;
  margin-right: 16px;
  border-radius: 8px;

  -webkit-user-drag: none;
}

.packshot {
  pointer-events: auto;

  position: relative;
  z-index: 10;

  display: flex;
  justify-content: center;

  width: 100%;

  img {
    padding: 0 16px;
  }
}
