.pdp {
  --padding-3: 40px;
  --padding-4: 48px;
  --padding-5: 64px;
  --padding-6: 80px;
  --gap-1: 24px;
  --gap-2: 40px;
  --radiusRoundedCorner: 64px;

  color: #23282a;

  @media (width >= 740px) and (width <= 935px) {
    --radiusRoundedCorner: 88px;
  }

  @media (width >= 936px) and (width <= 1267px) {
    --padding-3: 56px;
    --padding-4: 64px;
    --padding-5: 112px;
    --padding-6: 144px;
    --radiusRoundedCorner: 128px;
  }

  @media (width >= 1268px) and (width <= 1569px) {
    --gap-1: 32px;
    --radiusRoundedCorner: 144px;
  }

  @media (width >= 1268px) {
    --padding-3: 64px;
    --padding-4: 80px;
    --padding-5: 128px;
    --padding-6: 160px;
    --gap-2: 56px;
  }

  @media (width >= 1570px) {
    --gap-1: 40px;
    --radiusRoundedCorner: 168px;
  }
}

.prominentSection {
  padding-bottom: var(--padding-4);

  @media (width >= 740px) {
    padding: var(--padding-3) 0 var(--padding-4);
  }

  @media (width >= 936px) and (width <= 1267px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.additionalSectionPadding {
  & > div {
    row-gap: 64px;

    @media (width >= 936px) and (width <= 1267px) {
      row-gap: 112px;
    }

    @media (width >= 1580px) {
      row-gap: 128px;
    }
  }

  @media (width <= 935px) {
    padding-top: 0;
  }

  @media (width >= 936px) and (width <= 1267px) {
    padding-right: 48px;
    padding-left: 48px;
  }
}

.gridProductHero > div {
  grid-template-rows: auto;
  row-gap: var(--padding-5);

  @media (width >= 936px) {
    column-gap: var(--gap-1);
  }
}

.gridItem1 {
  @media (width >= 936px) {
    grid-row: 1 / 2;
  }
}

.gridItem2 {
  @media (width >= 936px) {
    position: relative;
    grid-row: 1 / 4;
  }
}

.gridItem3 {
  @media (width >= 936px) {
    grid-row: 2 / 3;
  }
}

.gridItem4 {
  @media (width >= 936px) {
    grid-row: 3 / 4;
  }
}

.productDetailsContainer {
  @media (width >= 740px) and (width <= 935px) {
    display: flex;
    justify-content: center;
    width: 100%;

    & > div {
      @media (width >= 740px) and (width <= 935px) {
        width: 700px;
        padding: 0;
      }
    }
  }
}

.productDetailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px 16px 0;

  @media (width >= 740px) {
    padding: 16px 0 0;
  }
}

.headingAndRating {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.deliveryText > p {
  display: inline;
}

.headingWithParagraph > h6 {
  padding-bottom: 1.6rem;
}

.headingWithParagraph {
  padding: 0 16px;

  @media (width >= 740px) {
    margin-bottom: 0;
    padding: 0;
  }

  @media (width >= 740px) and (width <= 935px) {
    width: 700px;
  }
}

.textCentered {
  text-align: center;
}

.includedProductTileGallery {
  width: 100%;
}

.contentBlockContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (width >= 740px) and (width <= 935px) {
    gap: 48px;
  }

  @media (width >= 936px) and (width <= 1267px) {
    gap: 64px;
  }

  @media (width >= 1268px) {
    gap: 80px;
  }
}

.contentBlockLeft
  div:has(> div:nth-of-type(2)):not(:has(> div:nth-of-type(3))) {
  & > div:first-of-type {
    @media (width >= 740px) {
      align-self: self-start !important;
    }

    @media (width >= 740px) and (width <= 935px) {
      grid-column: 1/8;
    }

    @media (width >= 936px) {
      grid-column: 1/9;
    }
  }

  & > div:last-of-type {
    @media (width >= 740px) and (width <= 935px) {
      grid-column: 8/13;
      padding-left: 20px;
    }

    @media (width >= 936px) {
      grid-column: 9/13;
      align-self: center !important;
      padding-left: 24px;

      & > div {
        gap: 0;
        padding-left: 0;
      }
    }

    @media (width >= 1580px) {
      padding-left: 40px;
    }
  }
}

.contentBlockRight
  div:has(> div:nth-of-type(2)):not(:has(> div:nth-of-type(3))) {
  & > div:first-of-type {
    @media (width >= 740px) and (width <= 935px) {
      grid-column: 6/13;
      grid-row: 1;
      align-self: self-start !important;
    }

    @media (width >= 936px) {
      grid-column: 5/13;
    }
  }

  & > div:last-of-type {
    @media (width >= 740px) and (width <= 935px) {
      grid-column: 1/6;
      grid-row: 1;
      padding-right: 20px;
    }

    @media (width >= 936px) {
      grid-column: 1/5;
      padding-right: 24px;

      & > div {
        gap: 0;
        padding-right: 0;
      }
    }

    @media (width >= 1580px) {
      padding-right: 40px;
    }
  }
}

.contentBlockContainer video {
  aspect-ratio: 16/9;
  width: 100%;
}

div:has(> .filesContainer) {
  @media (width >= 740px) {
    grid-column: 3/11;
  }
}

.filesContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.awardsContainer {
  padding: 0 24px;
}

.awardsMediaContainer {
  display: flex;
  gap: 24px;

  @media (width >= 740px) {
    justify-content: center;
  }

  @media (width >= 936px) {
    gap: 32px;
  }
}

.awardsMediaContainer > div {
  @media (width >= 740px) {
    width: fit-content;
  }
}

.awardsMediaContainer img {
  @media (width >= 740px) and (width <= 935px) {
    width: 100px;
  }

  @media (width >= 940px) and (width <= 1267px) {
    width: 128px;
  }

  @media (width >= 1268px) and (width <= 1578px) {
    width: 160px;
  }
}

.sectionWithBiggerPadding,
.defaultSection {
  padding: var(--padding-5) 0 var(--padding-6);
}

.sectionWithBiggerPadding {
  @media (width >= 936px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.productTilesContainer {
  display: flex;
  gap: 24px;

  @media (width >= 936px) and (width <= 1267px) {
    width: 928px;
  }

  @media (width >= 936px) {
    gap: 32px;
  }
}

.overwrittenMargin > div {
  @media (width <= 935px) {
    margin-bottom: 40px !important;
  }
}

div:has(> .overwrittenGap) {
  row-gap: 0;
}

.defaultSection {
  border-radius: 0 0 var(--radiusRoundedCorner);
  background-color: #f3f5f3;
}

.overwrittenContentBlockWidth
  div:has(> div:nth-of-type(2)):not(:has(> div:nth-of-type(3))) {
  @media (width >= 740px) and (width <= 935px) {
    & > div {
      min-width: 460px;
      max-width: 460px;
    }
  }

  @media (width >= 936px) {
    column-gap: var(--gap-2);
  }
}

.overriddenProductStripeGap
  div:has(> div:nth-of-type(2)):not(:has(> div:nth-of-type(3))) {
  @media (width >= 936px) and (width <= 1267px) {
    gap: 24px;
  }

  @media (width >= 1268px) and (width <= 1579px) {
    align-items: flex-start;
  }
}

.overriddenProductStripeGap div:has(> img) {
  @media (width <= 739px), (width >= 936px) and (width <= 1267px) {
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}

.overriddenProductStripeGap img {
  max-width: 100%;
  max-height: 54px;
  object-fit: contain;

  @media (width >= 740px) and (width <= 935px) {
    max-height: 149px;
  }

  @media (width >= 936px) and (width <= 1267px) {
    max-height: 99px;
  }

  @media (width >= 1268px) and (width <= 1579px) {
    max-height: 113px;
  }

  @media (width >= 1580px) {
    max-height: 124px;
  }
}

.overriddenLanguageSelector {
  grid-column: span 6;

  @media (width >= 936px) {
    grid-column: span 4;
  }
}

.overriddenFooterSocialLinks
  div:has(> div:nth-of-type(3)):not(:has(> div:nth-of-type(4)))
  > div:not(:last-child) {
  @media (width >= 740px) and (width <= 935px) {
    grid-column: span 6;
    padding-bottom: 56px;
  }
}

.overwrittenHeadline {
  @media (width >= 740px) {
    grid-column: 3/11;
  }

  @media (width >= 740px) and (width <= 935px) {
    & p {
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }
}

.overwrittenZIndex > div {
  z-index: 11;
}

.additionalFooterMargin {
  @media (width <= 935px) {
    margin-bottom: 72px; // height of StickyProductBar
  }
}
