.container {
  overflow-anchor: none;
  scroll-behavior: auto;

  position: relative; /* Ensure positioning for canvas within the container */

  overflow: hidden; /* Hide any overflow from the canvas */
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100svh;
}

.canvas {
  display: block; /* Ensures the canvas is treated as a block-level element */
  width: 100%; /* Canvas should take up the full width of the container */
  height: 100%; /* Let the height be determined by the aspect ratio */
}
