@vorwerk:registry=https://pkgs.dev.azure.com/vorwerk-cloudsolutions/vw-storybook-weu-rg/_packaging/vw-storybook-weu-rg/npm/registry/ 

//pkgs.dev.azure.com/vorwerk-cloudsolutions/vw-storybook-weu-rg/_packaging/vw-storybook-weu-rg/npm/registry/:always-auth=true
//pkgs.dev.azure.com/vorwerk-cloudsolutions/vw-storybook-weu-rg/_packaging/vw-storybook-weu-rg/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/vorwerk-cloudsolutions/vw-storybook-weu-rg/_packaging/vw-storybook-weu-rg/npm/registry/:_password=[BASE64_ENCODED_ACCESS_TOKEN]
//pkgs.dev.azure.com/vorwerk-cloudsolutions/vw-storybook-weu-rg/_packaging/vw-storybook-weu-rg/npm/registry/:email=[YOUR_EMAIL_ADDRESS]
//pkgs.dev.azure.com/vorwerk-cloudsolutions/vw-storybook-weu-rg/_packaging/vw-storybook-weu-rg/npm/:always-auth=true
//pkgs.dev.azure.com/vorwerk-cloudsolutions/vw-storybook-weu-rg/_packaging/vw-storybook-weu-rg/npm/:username=VssSessionToken
//pkgs.dev.azure.com/vorwerk-cloudsolutions/vw-storybook-weu-rg/_packaging/vw-storybook-weu-rg/npm/:_password=[BASE64_ENCODED_ACCESS_TOKEN]
//pkgs.dev.azure.com/vorwerk-cloudsolutions/vw-storybook-weu-rg/_packaging/vw-storybook-weu-rg/npm/:email=[YOUR_EMAIL_ADDRESS]