@vorwerk:registry=https://pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/registry/ 
always-auth=true
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:always-auth=true
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:username=${NPM_USERNAME}
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:_password=${NPM_PASSWORD}
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:email=${NPM_EMAIL}
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:always-auth=true
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:username=${NPM_USERNAME}
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:_password=${NPM_PASSWORD}
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:email=${NPM_EMAIL}

; begin auth token
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/registry/:username=VOWToken
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/registry/:_password=ZXE0b3BhMnFjZmRyZDVoYnF4ZmhpdzJvcHp2YWx1ZWY2am5oZWRudHVzdWRxc3djM2xicQ==
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/registry/:email=anna.lasocka@intive.com
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/:username=VOWToken
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/:_password=ZXE0b3BhMnFjZmRyZDVoYnF4ZmhpdzJvcHp2YWx1ZWY2am5oZWRudHVzdWRxc3djM2xicQ==
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/:email=anna.lasocka@intive.com
; end auth token