@vorwerk:registry=https://pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/

//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:always-auth=true
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:_password=ZXE0b3BhMnFjZmRyZDVoYnF4ZmhpdzJvcHp2YWx1ZWY2am5oZWRudHVzdWRxc3djM2xicQ==
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:email=patryk.szmurlo@intive.com
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:always-auth=true
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:username=VssSessionToken
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:_password=ZXE0b3BhMnFjZmRyZDVoYnF4ZmhpdzJvcHp2YWx1ZWY2am5oZWRudHVzdWRxc3djM2xicQ==
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:email=patryk.szmurlo@intive.com