# @vorwerk:registry=https://pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/
@vorwerk:registry=https://pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/registry/
always-auth=true

; begin auth token
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:username=Vorwerk-FibreSingleBlend
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:_password=[BASE64_ENCODED_ACCESS_TOKEN]
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:email=[USER_EMAIL]
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:username=Vorwerk-FibreSingleBlend
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:_password=[BASE64_ENCODED_ACCESS_TOKEN]
# //pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:email=[USER_EMAIL]
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/registry/:username=Vorwerk-FibreSingleBlend
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/registry/:_password=[BASE64_ENCODED_ACCESS_TOKEN]
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/registry/:email=[USER_EMAIL]
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/:username=Vorwerk-FibreSingleBlend
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/:_password=[BASE64_ENCODED_ACCESS_TOKEN]
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend-TESTING/npm/:email=[USER_EMAIL]
; end auth token

