@vorwerk:registry=${process.env.NPM_REGISTRY_URL}

//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:always-auth=true
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:username=${process.env.NPM_USERNAME}
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:_password=${process.env.NPM_PASSWORD}
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/registry/:email=${process.env.EMAIL}
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:always-auth=true
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:username=${process.env.NPM_USERNAME}
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:_password=${process.env.NPM_PASSWORD}
//pkgs.dev.azure.com/Vorwerk-FibreSingleBlend/_packaging/Vorwerk-FibreSingleBlend/npm/:email=${process.env.EMAIL}