.categoryTile {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100%;
    --container-padding: 24px;
    background-size: cover;
    @media (min-width: 936px) and (max-width: 1579px) {
        --container-padding: 32px;
    }
    
    @media (min-width: 1580px) {
        --container-padding: 40px;
    }
}

.categoryTile.vertical {
    flex-direction: column;
    text-align: center;
}

.imageContainer {
    position: relative;
    padding: var(--container-padding);
    width: 100%;
    aspect-ratio: 1/1;
    @media (min-width: 936px) {
        top: 0px;
    }
    flex: 3;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 var(--container-padding) var(--container-padding);
    gap: var(--container-padding);
    flex: 1;
}

.eyeCatcher {
    position: absolute;
    top: 8px;
    right: 8px;
    & > * {
        width: 80px !important;
        height: 80px !important;
        padding: 10.67px !important;
        @media (min-width: 936px) and (max-width: 1267px) {
            width: 96px !important;
            height: 96px !important;
            padding: 12.8px !important;
        }
        @media (min-width: 1268px) {
            width: 120px !important;
            height: 120px !important;
            padding: 16px !important;
        }
    }
    p {
        font-size: 1rem !important;
        @media (min-width: 936px) and (max-width: 1267px) {
            font-size: 1.2rem !important;
        }
        @media (min-width: 1268px) {
            font-size: 1.6rem !important;
        }
    }
}

.image {
    object-fit: cover;
    inset: 0;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.categoryTile.gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.textWrapper {
    height: 60px;
    align-content: center;
    @media (min-width: 936px) and (max-width: 1267px) {
        height: 76px;
    }
    @media (min-width: 1268px) {
        height: 96px;
    }
}
