.container {
  display: grid;
  gap: 16px;

  &.container-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &.container-5 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    & > *:not(:last-child) {
      padding: 16px 23px;
    }

    & > :last-child {
      grid-column: 1 / span 2;

      & > div {
        width: 100%;
        padding: 24px;
      }
    }

    @media (width >= 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 224px 224px;

      & > :last-child {
        grid-column: 2 / span 2;
        grid-row: 2;

        & > div {
          padding: 24px;
        }
      }
    }
  }

  @media (width >= 768px) {
    gap: 24px;
  }
}
