.mainWrapper {
  overflow: hidden;
  margin-top: -72px;
}

.heroContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.heroContent {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  margin-top: -67px;
  text-align: center;

  a,
  button {
    margin-top: 16px;
  }
}

.description {
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  line-height: 32px;
  color: #707375;
  text-align: center;
  margin-top: 8px;
}

.location {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  color: #707375;
  margin-top: 4px;
}

.heroBackground {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: stretch;
  justify-content: center;

  width: 100%;
  height: 250px;

  background-size: cover;
}

.heroOverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 250px;

  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 40%) 0%,
    rgb(0 0 0 / 0%) 100%
  );
}
