.galleryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 1136px;
}

.galleryContainer > img:first-child {
  grid-column: span 2;
  aspect-ratio: 3/2 !important;
  width: 100%;
  min-width: 480px;
}

.galleryContainer > img:not(first-child),
.galleryContainer > video:not(first-child) {
  grid-column: span 1;
  aspect-ratio: 1 / 1;
  width: 100%;
  min-width: 232px;
}

.galleryInfo {
  display: flex;
  grid-column: span 2;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 8px 24px;
}

.image {
  cursor: pointer;
}
