.bannerWrapper {
  display: flex;
  min-height: 334px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  margin-bottom: 56px;
  padding: 32px 16px 24px 16px;
  color: #fff;
}