.scrollRowContainer {
  margin: 0 -16px;
}

.iconWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-right: 52px;
}

.icon {
  width: 56px;
  height: 56px;
}

.iconText {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #23282a;
}

.dark {
  .icon {
    path {
      stroke: #fff;
    }
  }

  .iconText {
    color: #fff;
  }
}
