.teaserTileContainer {
  --spacing: 16px;

  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  align-items: flex-start;

  width: 223px;

  @media (width >= 740px) and (width <= 935px) {
    width: 224px;
  }

  @media (width >= 936px) and (width <= 1267px) {
    width: 264px;
  }

  @media (width >= 1267px) and (width <= 1579px) {
    width: 352px;
  }

  @media (width >= 1267px) {
    --spacing: 24px;
  }

  @media (width >= 1580px) {
    width: 440px;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  padding: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  align-self: stretch;

  text-align: start;

  @media (width >= 1267px) {
    gap: 16px;
  }
}
