.standaloneSelectWrapper {
    position: relative;
}

.standaloneSelectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #00AC46;
    background-color: transparent;
    padding: 0;
    border: none;
}

.standaloneSelectContainer:hover {
    color: #00973D;
}

.selectContainer {
    display: flex;
    padding: 11px 16px 11px 0px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
}

.select {
    display: flex;
    align-items: center;
    gap: 6px;
}

.selectContainer svg {
    width: 16px;
    height: 16px;
}

.select svg {
    width: 20px;
    height: 20px;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 8px;
    list-style: none;
    padding: 8px 4px;
    box-shadow: 0 2px 4px 2px rgba(35, 40, 42, 0.08);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    color: #23282A;
    margin: 0;
}

.dropdownMenu.fadeIn {
    opacity: 1;
    visibility: visible;
}


.dropdownMenu.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.dropdownMenuItem {
    padding: 11px 12px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.dropdownMenu.upMenu {
    top: auto;
    bottom: 100%;
}