.advisorTileContainer {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 16px 24px 16px 16px;
    gap: 16px;
    display: flex;
    align-items: center;
}

.advisorTileContainer>div:has(> img) {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
}

.advisorTileContainer img {
    clip-path: circle(50%);
}

.advisorTileTextContainer button {
    padding: 0;
}

.advisorTileTextContainer button p {
    font-weight: 600;
    text-decoration: underline;
}