.carouselContainer {
  cursor: grab;

  position: relative;

  overflow: hidden;
  display: flex;
  align-items: flex-end;

  width: 100%;

  &:active {
    cursor: grabbing;
  }
}

.carouselInner {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  height: 100%;
}

.tileContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.image {
  transform-origin: top left;

  display: flex;

  width: 298px;
  height: 298px;

  background-position: center;
  background-size: cover;

  transition: transform 0.5s ease;
}

.imageWrapper {
  display: flex;
  align-items: flex-end;
}

.textBlockWrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  align-self: stretch;

  max-height: 180px;

  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
}

.hidden {
  pointer-events: none;
  max-height: 90px;
  opacity: 0;
  transition:
    opacity 0.1s 0.3s ease,
    max-height 0.3s ease;
}

.step {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  border-radius: 40px;

  color: #fff;

  background-color: #23282a;
}
