.overwrittenLanguageSelector {
  grid-column: span 6;

  @media (width >= 936px) {
    grid-column: span 4;
  }
}

.overwrittenFooterSocialLinks
  div:has(> div:nth-of-type(3)):not(:has(> div:nth-of-type(4)))
  > div:not(:last-child) {
  @media (width >= 740px) and (width <= 935px) {
    grid-column: span 6;
    padding-bottom: 56px;
  }
}

.overwrittenProductStripeGap
  div:has(> div:nth-of-type(2)):not(:has(> div:nth-of-type(3))) {
  @media (width >= 936px) and (width <= 1267px) {
    gap: 24px;
  }

  @media (width >= 1268px) and (width <= 1579px) {
    align-items: flex-start;
  }
}

.overwrittenProductStripeGap div:has(> img) {
  @media (width <= 739px), (width >= 936px) and (width <= 1267px) {
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}

.overwrittenProductStripeGap img {
  max-width: 100%;
  max-height: 54px;
  object-fit: contain;

  @media (width >= 740px) and (width <= 935px) {
    max-height: 149px;
  }

  @media (width >= 936px) and (width <= 1267px) {
    max-height: 99px;
  }

  @media (width >= 1268px) and (width <= 1579px) {
    max-height: 113px;
  }

  @media (width >= 1580px) {
    max-height: 124px;
  }
}
