:root {
  --gap-01: 16px;
  --gap-02: 32px;
  --gap-03: 40px;
  --gap-04: 64px;
  --padding-00: 0;
  --padding-01: 24px;
  --padding-02: 32px;
  --padding-03: 40px;
  --padding-04: 48px;
  --padding-05: 64px;
  --padding-06: 80px;
}

@media (width >= 768px) {
  :root {
    --gap-01: 20px;
    --gap-02: 32px;
    --gap-03: 40px;
    --gap-04: 64px;
    --padding-00: 0;
    --padding-01: 24px;
    --padding-02: 32px;
    --padding-03: 40px;
    --padding-04: 48px;
    --padding-05: 64px;
    --padding-06: 80px;
  }
}

@media (width >= 1024px) {
  :root {
    --gap-01: 24px;
    --gap-02: 40px;
    --gap-03: 56px;
    --gap-04: 112px;
    --padding-00: 0;
    --padding-01: 32px;
    --padding-02: 40px;
    --padding-03: 56px;
    --padding-04: 64px;
    --padding-05: 112px;
    --padding-06: 144px;
  }
}

@media (width >= 1440px) {
  :root {
    --gap-01: 32px;
    --gap-02: 56px;
    --gap-03: 64px;
    --gap-04: 128px;
    --padding-00: 0;
    --padding-01: 32px;
    --padding-02: 56px;
    --padding-03: 64px;
    --padding-04: 80px;
    --padding-05: 128px;
    --padding-06: 160px;
  }
}

@media (width >= 1920px) {
  :root {
    --gap-01: 40px;
    --gap-02: 56px;
    --gap-03: 64px;
    --gap-04: 128px;
    --padding-00: 0;
    --padding-01: 40px;
    --padding-02: 56px;
    --padding-03: 64px;
    --padding-04: 80px;
    --padding-05: 128px;
    --padding-06: 160px;
  }
}

@font-face {
  font-family: Vorwerk;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Vorwerk-Light.woff2");
}

@font-face {
  font-family: Vorwerk;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Vorwerk-Regular.woff2");
}

@font-face {
  font-family: Vorwerk;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Vorwerk-Medium.woff2");
}

@font-face {
  font-family: Vorwerk;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Vorwerk-Bold.woff2");
}

html {
  scroll-behavior: smooth;
  position: relative;
}

p,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: Vorwerk, system-ui, arial, sans-serif !important;
}

.dark-theme {
  background-color: #23282a;
}

.light-theme {
  background-color: #fff;
}

footer {
  background-color: #fff;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  /* 4. Add accessible line-height */
  line-height: 1.5;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  // display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/*
  9. Create a root stacking context
*/
#root,
/* stylelint-disable-next-line selector-id-pattern */
#__next {
  isolation: isolate;
}
