.textCentered {
  text-align: center;
}

.prominentSection {
  margin-top: 16px;
  padding-top: 128px;
  padding-bottom: 160px;

  background-color: #f3f5f3;
  border-radius: 0 0 168px;
}

.defaultSection {
  padding-top: 128px;
  padding-bottom: 160px;
}
