.textCentered {
  text-align: center;
}

.prominentSection {
  padding-top: 128px;
  padding-bottom: 160px;
}

.defaultSection {
  padding-bottom: 128px;
}

.vorwerkLogo {
  color: #00ac46 !important;
}

.hero {
  @supports (text-wrap: balance) {
    text-wrap: balance;
  }
}
