.container {
  position: relative; /* Ensure positioning for canvas within the container */

  overflow: hidden; /* Hide any overflow from the canvas */
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% + 32px);
  min-height: 100dvh; /* Small viewport height unit to account for dynamic UI changes */
  margin: 0 -16px;
}

.canvas {
  display: block; /* Ensures the canvas is treated as a block-level element */
  width: 100%; /* Canvas should take up the full width of the container */
  height: auto; /* Let the height be determined by the aspect ratio */
}
