.embla {
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
  padding: 0 16px; // horizontal padding for edge-to-edge hint

  -ms-overflow-style: none; /* IE and Edge */
}

.embla::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.container {
  touch-action: pan-y pinch-zoom;
  display: flex;
  gap: 16px; // gap between slides
}

.slide {
  scroll-snap-align: start;
  transform: translate3d(0, 0, 0);
  flex: 0 0 auto; // fixed width per slide
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
