.carousel {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 84%;

    @media (min-width: 1580px) {
        height: 89%;
    }
}

.carouselWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.carouselWrapper>button {
    margin: 0;
}

.carouselViewport {
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.carouselContainer {
    display: flex;
    touch-action: pan-y pinch-zoom;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
}

.carouselSlide {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    position: relative;
}

.carouselSlide img,
.carouselSlide video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.carouselThumbsViewport {
    width: 100%;
    height: auto;
}

.carouselThumbsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    margin-left: calc(var(--thumbs-slide-spacing) * -1);
    padding: 0 16px;
}

.thumbsSlide {
    width: 64px;
    height: 64px;
}

.thumbsSlide>button {
    width: 100%;
    height: 100%;
    border: none;
    padding: 2px;
    background-color: #F2F2F2;
}

.thumbsSlide video {
    width: 100%;
    height: 100%;
}

.thumbsSlide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selected {
    border: 2px solid #4B4A4B;
}

.imageWrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.imageWrapper>button {
    position: absolute;
    right: 8px;
    bottom: 34px;
    width: 48px;
    height: 48px;
    padding: 12px !important;

    & svg {
        width: 24px !important;
        height: 24px !important;
    }
}

.thumbsSlide.aem {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.16);

    &>.thumbsSlideImage {
        background: rgba(255, 255, 255, 0.50);
    }

    &.selected {
        border: 2px solid #23282A;
    }
}