.heroContainer {
  position: relative;

  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 656px;

  @media (width >= 1268px) {
    height: calc(100svh - 16px);
  }
}

.videoWrapper {
  position: absolute;

  overflow: hidden;
  display: flex;

  width: 100%;
  height: 100%;

  border-radius: 0 0 64px;

  @media (width >= 740px) {
    border-radius: 0 0 88px;
  }

  @media (width >= 936px) {
    border-radius: 0 0 128px;
  }

  @media (width >= 1268px) {
    border-radius: 0 0 144px;
  }

  @media (width >= 1580px) {
    border-radius: 0 0 168px;
  }
}

.heroVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 64px;
}

.heroOverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 40%) 0%,
    rgb(0 0 0 / 0%) 100%
  );
}

.parallax {
  z-index: 2;
}

.heroContent {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  color: white;
  text-align: center;
}

.heroProduct {
  z-index: 2;

  display: block;

  width: 295px;
  margin-top: -112px;
  margin-right: auto;
  margin-left: auto;

  @media (width >= 936px) {
    width: 100%;
  }
}

.heroParallaxLogo {
  display: block;

  width: 100%;
  max-width: 247px;
  margin-right: auto;
  margin-left: auto;

  @media (width >= 740px) {
    max-width: initial;
  }
}

.parallaxWrapper {
  position: relative;
}

.parallaxLogoWrapper {
  position: relative;
  width: 100%;

  @media (width >= 740px) {
    position: absolute;
    top: 25%;
  }
}

.headerContainer {
  position: absolute;
}
