.mainWrapper {
  overflow: hidden;
}

.heroContainer {
  position: relative;

  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: calc(100svh - 16px);
  max-height: 600px;

  @media (width >=1268px) {
    max-height: initial;
  }
}

.videoWrapper {
  position: absolute;

  overflow: hidden;
  display: flex;

  width: 100%;
  height: 100%;
  border-radius: 0 0 64px;

  @media (width >=740px) {
    border-radius: 0 0 88px;
  }

  @media (width >=936px) {
    border-radius: 0 0 128px;
  }

  @media (width >=1268px) {
    border-radius: 0 0 144px;
  }

  @media (width >=1580px) {
    border-radius: 0 0 168px;
  }
}

.heroVideo {
  width: 100%;
  height: 100%;
  border-radius: 0 0 64px;
  object-fit: cover;
}

.heroOverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(180deg,
      rgb(0 0 0 / 40%) 0%,
      rgb(0 0 0 / 0%) 100%);
}

.headerContainer {
  position: absolute;
}

.heroContent {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  color: white;
  text-align: center;
}

.parallaxWrapper {
  position: relative;
}

.parallax {
  z-index: 2;
}

.heroProduct {
  z-index: 2;

  display: block;

  width: 295px;
  margin-top: -112px;
  margin-right: auto;
  margin-left: auto;

  @media (width >=936px) {
    width: 100%;
  }
}

.parallaxLogoWrapper {
  position: relative;
  width: 100%;

  @media (width >=740px) {
    position: absolute;
    top: 25%;
  }
}

.parallaxLogo {
  display: block;

  width: 100%;
  max-width: 247px;
  margin-right: auto;
  margin-left: auto;

  @media (width >=740px) {
    max-width: initial;
  }
}