.componentWrapper {
  position: relative;

  @media (width >= 768px) {
    padding-top: 60px;
  }
}

.imageWrapper {
  position: absolute;
  top: -58px;
  box-sizing: border-box;
  padding: 0 56px 24px;

  @media (width >= 768px) {
    z-index: 1;
    top: 0;
    bottom: 24px;

    width: 50%;
    margin-bottom: 0;
    padding: 0 24px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-top: 58px;
  padding: 198px 32px 32px;

  background-color: #f3f5f3;

  @media (width >= 768px) {
    flex-direction: row;
    align-items: flex-end;
    margin-top: 0;
    padding: 40px 24px;
  }
}

.headline {
  display: block;

  margin-bottom: 16px;

  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #23282a;
}

.price {
  display: block;

  margin-bottom: 16px;

  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #23282a;
}

.button {
  width: 100%;
  min-width: 192px;
  padding: 6px 16px;

  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 32px;
  color: #fff;

  background-color: #00ac46;
  border: none;
  border-radius: 8px;
}

.contentContainer,
.contentEmptyContainer {
  @media (width >= 768px) {
    flex: 1;
  }
}

.dark {
  .contentWrapper {
    background-color: #3f4447;
  }

  .headline,
  .price {
    color: #fff;
  }
}

.link {
  text-decoration: none;

  &:hover {
    button {
      background-color: #00973d;
    }
  }

  &:active {
    button {
      background-color: #008134;
    }
  }
}
