.menuTileLink {
  text-decoration: none;
}

.menuTileContainer {
  display: flex;
  width: 134px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  color: #23282A;
  background-color: #F3F5F3;
  height: 100%;

  @media (min-width: 740px) {
      width: 160px;
  }

  @media (min-width: 936px) {
      width: 100%;
  }
}

.menuTileContainer.cta {
  padding: 32px 16px 16px 16px;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #00AC46;
  color: #FFFFFF;
}

.label {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  justify-content: center;
  min-height: 52px;
  box-sizing: content-box;

  @media (min-width: 1580px) {
      padding-inline: 24px;
  }
}

.cta {
  padding: 0;
  align-items: flex-start;
}