.breadcrumbContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.breadcrumbItem {
    display: flex;
    padding: 5px 8px;
    flex-direction: column;
    align-items: flex-start;
}

.breadcrumbDivider {
    color: #707375;
    width: 14px;
    height: 14px;

    &>svg {
        vertical-align: text-top;
        padding-top: 8px;
    }
}